.container {

	background-color: #1e2759;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.team-wrap {
		position: relative;

		.tab-wrap {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);


			li {
				list-style: none;
			}

			.anticon {
				color: #fff;
				padding: 20px 30px;
				font-size: 2.5em;
				opacity: 0.25;
				transition: 0.25s;
				cursor: pointer;
				backdrop-filter: blur(15px);
				z-index: 1000;
				position: relative;
			}

			.anticon:hover {
				opacity: 1;
			}
		}

		#mark {
			position: absolute;
			top: 0;
			transition: 0.5s;
			z-index: 1;
		}

		#mark:before {
			content: '';
			position: absolute;
			top: -10px;
			left: 50%;
			transform: translateX(-50%);
			width: 50px;
			height: 40px;
			background-color: #5da6ff;
			box-shadow: 0 0 15px #5da6ff, 0 0 30px #5da6ff, 0 0 45px #5da6ff, 0 0 60px #5da6ff;
			border-radius: 8px;
		}
	}
}