.edit-team-logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 12px;

	.ant-upload-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}