.add-task {
	display: flex;

}

.task-list {
	margin-top: 12px;

	.task-list-item {
		display: flex;
		align-items: center;
	}
}

.test-wrap {
	display: flex;
	margin-top: 20px;

	.test-item {
		margin-right: 6px;
	}

	.sort-btn {
		cursor: pointer;
	}
}

.box-warp {
	height: 300px;
	width: 100%;
	background-color: #444;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;

	.box1 {
		width: 40px;
		height: 40px;
		background-color: #fff;
		margin: 2px auto;
	}

	.box2 {
		width: 40px;
		height: 40px;
		background-color: pink;
		margin: 2px auto;
	}

	.box3 {
		background-color: blanchedalmond;
		margin-top: 2px;
	}

	.box4 {
		width: 40px;
		height: 40px;
		background-color: red;
		margin: 2px auto;
	}
}

.sort-wrap {
	display: flex;

	.sort-item {
		margin-right: 4px;
	}
}