.add-task {
	display: flex;

}

.task-list {
	margin-top: 12px;

	.task-list-item {
		display: flex;
		align-items: center;
	}
}

.test-wrap {
	display: flex;
	margin-top: 20px;

	.test-item {
		margin-right: 6px;
	}

	.sort-btn {
		cursor: pointer;
	}
}