.filter-wrap {
	padding: 12px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	align-items: center;


	.item-wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.ant-form-item {
			margin-bottom: 0;
		}
	}

	.form-btn-group {
		display: flex;
		align-items: center;
	}

	.filter-search {
		margin: 0 12px;
	}
}